*.o
*.out
*.exe
Servidor/servidor
Servidor/test_servidor


bin/
obj/
*.user
*.suo
.vs/
*.vscode/

Reporte/*.aux
Reporte/*.log
Reporte/*.out
Reporte/*.toc
Reporte/*.fls
Reporte/*.fdb_latexmk
Reporte/*.synctex.gz